<ion-header >
  <ion-toolbar>
    <ion-title>My Heart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Texto en la zona blanca -->
  <div class="info">
    <h3>Ritmo cardiaco por minuto</h3>
  </div>

  <!-- Fondo rojo inferior -->
  <div class="bottom-bg">
    <div class="bpm-box">
      <h1>{{ bpm }}</h1>
      <h2>BPM</h2>
    </div>

    

    <div class="image-container">
      <img src="/assets/resources/1fac0.gif" alt="">
    </div>

    <canvas #lineCanvas></canvas>
  </div>


</ion-content>